%p#notice= notice
.container
  %h1 Listing Providers
  %table.table.table-reponsive
    %thead
      %tr
        %th Name
        %th Location
        %th Phone number
        %th Rating
        %th Type
        %th Specialization
        %th{:colspan => "3"}
    %tbody
      - @providers.each do |provider|
        %tr
          %td= provider.name
          %td= provider.location
          %td= provider.phone_number
          %td= provider.rating
          %td= provider.provider_type
          %td= provider.specialization
          %td
            = link_to image_tag("white_arrow.png"), provider, class: :'white_arrow'
  %br/
