.container
  %p#notice= notice
  %h1
    = @provider.name
  .providerInfo
    %p
      %strong Location:
      = @provider.location
    %p
      %strong Phone Number:
      = @provider.phone_number
    %p
      %strong Rating:
      = @provider.rating
    %p
      %strong Type:
      = @provider.provider_type
    %p
      %strong Specialization:
      = @provider.specialization

    %br
    = link_to 'Make Appointment', new_appointment_path(clinic_name: @provider.name, provider_type: @provider.provider_type), class: :'btn btn-default'
  .map
    = content_tag(:iframe,'', width: 500, height: 400, src: "https://www.google.com/maps/embed/v1/view?key=AIzaSyAZng7PBC1qUtAMOHj31LUfs6BYx6sAKZw&center=#{@provider.latitude},#{@provider.longitude}&zoom=18&maptype=roadmap")
