.container
  .editProfile
    %h1
      Edit #{resource_name.to_s.humanize}
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = devise_error_messages!
      .field
        = f.label :name
        = f.text_field :name
        %br/
      .field
        = f.label :email
        = f.email_field :email, autofocus: true
        %br/
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: #{resource.unconfirmed_email}
      .field
        = f.label :password
        = f.password_field :password, autocomplete: "off"
        %br/
      .field
        = f.label :password_confirmation
        = f.password_field :password_confirmation, autocomplete: "off"
        %br/
      .field
        = f.label :current_password
        = f.password_field :current_password, autocomplete: "off"
        %br/
      .field
        = f.label :birthday
        = f.date_field :birthday
        %br/
      .field
        = f.label :gender
        = f.text_field :gender
        %br/
      .field
        = f.label :address
        = f.text_field :address
        %br/
      .field
        = f.label :insurance
        = f.text_field :insurance
        %br/
      .actions
        = image_submit_tag("white_arrow.png", class: :'white_arrow')

    %h3 Cancel my account
    %p
      Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
    = link_to "Back", :back
