

%h3 What service are you looking for?
= form_tag search_path, method: :post do
.form-group
  = label_tag 'services', "Choose services"
  = select_tag 'services', service_options, multiple: true, class: :'tokenize-sample tokenize', id: :'tokenize'
.form-group
  = label_tag 'specialization', "Choose a specialization"
  = select_tag 'specialization', specialization_options, multiple: true, class: :"tokenize-sample tokenize"
.form-group

= submit_tag 'Submit', class: 'btn btn-primary'


= link_to "Sign Out", destroy_user_session_path, class: :'btn btn-info', method: :delete
