%h1 Listing appointments

%table
  %thead
    %tr
      %th Patient name
      %th Clinic name
      %th Days
      %th Time of day
      %th Description
      %th Insurance
      %th
      %th
      %th

  %tbody
    - @appointments.each do |appointment|
      %tr
        %td= appointment.patient_name
        %td= appointment.clinic_name
        %td= appointment.days
        %td= appointment.time_of_day
        %td= appointment.description
        %td= appointment.insurance
        %td= link_to 'Show', appointment
        %td= link_to 'Edit', edit_appointment_path(appointment)
        %td= link_to 'Destroy', appointment, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Appointment', new_appointment_path
