.container
  .createdAppointment
    %p#notice= notice
    %h1 Your Appointment
    %p
      %b Patient name:
      %br
      = @appointment.patient_name
    %p
      %b Clinic name:
      %br
      = @appointment.clinic_name
    %p
      %b Day:
      %br
      = @appointment.days
    %p
      %b Time of day:
      %br
      = @appointment.time_of_day
    %p
      %b Description:
      %br
      = @appointment.description
    %p
      %b Insurance:
      %br
      = @appointment.insurance
    %p
      %b Reoccuring Appointment:
      %br
      Every
      = @appointment.reoccur
      Months
